<ion-header>
    <ion-toolbar color="vprimary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="proyecto"></ion-back-button>
        </ion-buttons>
        <ion-title>Crear Proyecto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-content>
            <form [formGroup]="registrationProyecto" (ngSubmit)="submit()">
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Nombre <span style="color: red;">*</span></ion-label>
                    <ion-input autocapitalize inputmode="text" formControlName="nombre" ></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.nombre">
                    <ng-container *ngIf="nombre.hasError(error.type) && (nombre.dirty || nombre.touched)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Descripción</ion-label>
                    <ion-textarea formControlName="descripcion"></ion-textarea>
                </ion-item>
                <div *ngFor="let error of errorMessages.descripcion">
                    <ng-container *ngIf="descripcion.hasError(error.type) && (descripcion.dirty || descripcion.touched)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <ion-item class="item-viraca">
                                <ion-label position="stacked">Fecha Inicio <span style="color: red;">*</span></ion-label>
                                <ion-datetime formControlName="fechaInicio" display-timezone="utc"></ion-datetime>
                            </ion-item>
                            <div *ngFor="let error of errorMessages.fechaInicio">
                                <ng-container
                                        *ngIf="fechaInicio.hasError(error.type) && (fechaInicio.dirty || fechaInicio.touched)">
                                    <small class="error-message">{{error.message}}</small>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <ion-item class="item-viraca">
                                <ion-label position="stacked">Fecha Fin <span style="color: red;">*</span></ion-label>
                                <ion-datetime formControlName="fechaFin" display-timezone="utc"></ion-datetime>
                            </ion-item>
                            <div *ngFor="let error of errorMessages.fechaFin">
                                <ng-container *ngIf="fechaFin.hasError(error.type) && (fechaFin.dirty || fechaFin.touched)">
                                    <small class="error-message">{{error.message}}</small>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <ion-item class="item-viraca">
                                <ion-label position="stacked">Presupuesto <span style="color: red;">*</span></ion-label>
                                <ion-input type="number" formControlName="presupuesto"></ion-input>
                            </ion-item>
<!--                            <ion-label position="floating">Presupuesto <span style="color: red;">*</span></ion-label>-->
<!--                            <ion-input type="number" formControlName="presupuesto" class="ion-input-viraca"></ion-input>-->
                            <div *ngFor="let error of errorMessages.presupuesto">
                                <ng-container
                                        *ngIf="presupuesto.hasError(error.type) && (presupuesto.dirty || presupuesto.touched)">
                                    <small class="error-message">{{error.message}}</small>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6"></ion-col>
                        <ion-col size="6">
                            <ion-button color="vsecundary" [disabled]="!registrationProyecto.valid" type="submit" expand="block">Crear
                                <ion-icon slot="end"
                                          name="create">
                                </ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
