<ion-header>
    <ion-toolbar color="vprimary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Reporte</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-text>
                <dl>
                    <dt>Persona:</dt>
                    <dd>{{ person.nombres + ' ' + person.apellido_paterno + ' ' + person.apellido_materno }}</dd>
                    <dt>Proyecto:</dt>
                    <dd>{{ proyecto.nombre }}</dd>
                </dl>
            </ion-text>
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="floating" color="vprimary" class="v-date">Fecha Inicio</ion-label>
                            <ion-datetime displayFormat="YYYY-MM-DD" value="{{ searchFechaIni}}" [(ngModel)]="searchFechaIni" (ionChange)="changeFechaIni()"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="floating" color="vprimary" class="v-date">Fecha Fin</ion-label>
                            <ion-datetime displayFormat="YYYY-MM-DD" value="{{ searchFechaFin }}" [(ngModel)]="searchFechaFin" (ionChange)="changeFechaFin()"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-list>
                <ion-list-header lines="inset">
                    <ion-label>Pagos</ion-label>
                </ion-list-header>
                <ion-item *ngFor="let pago of pagosDto">
                    <ion-label>
                        <h3><b>{{ pago.fecha }}</b></h3>
                        <h4><b>Monto:</b> {{pago.monto}} Bs.</h4>
                        <p><b>Descripción:</b> {{ pago.descripcion }}</p>
                    </ion-label>
                    <ion-button color="danger" (click)="modalConfirm(pago.id, pago.fecha)" *ngIf="isAdmin"><ion-icon name="trash-outline"></ion-icon></ion-button>
                    <ion-button color="vsecundary" routerLink="/pago-imagenes/{{pago.id}}"><ion-icon name="image-outline"></ion-icon></ion-button>
                </ion-item>
            </ion-list>
            <ion-text color="vsecundary" align="right" style="padding-left: 10px;">
                <h5>Total: <b>{{total}} Bs.</b></h5>
            </ion-text>
        </ion-card-content>
    </ion-card>
</ion-content>
