<ion-header>
    <ion-toolbar color="vprimary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Crear Administrador Proyecto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-content>
            <form [formGroup]="registrationManager" (ngSubmit)="submit()">
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Nombre</ion-label>
                    <ion-input type="text" formControlName="name" class="input-uppercase"></ion-input>
                </ion-item>
                <div *ngIf="errors.has('name')">
                    <ion-text color="danger">
                        <small>{{errors.has('name') ? errors.get('name') : ''}} </small>
                    </ion-text>
                </div>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Correo electrónico</ion-label>
                    <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
                <div *ngIf="errors.has('email')">
                    <ion-text color="danger">
                        <small>{{errors.has('email') ? errors.get('email') : ''}} </small>
                    </ion-text>
                </div>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Rol</ion-label>
                    <ion-select formControlName="role" placeholder="Seleccione un rol">
                        <ion-select-option value="{{roleBuilder}}">{{ roleEspBuilder}}</ion-select-option>
                        <ion-select-option value="{{roleManagerProject}}">{{roleEspManagerProject}}</ion-select-option>
                        <ion-select-option value="{{roleSupervisor}}">{{roleEspSupervisor}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <div *ngIf="errors.has('role')">
                    <ion-text color="danger">
                        <small>{{errors.has('role') ? errors.get('role') : ''}} </small>
                    </ion-text>
                </div>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Contraseña</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <div *ngIf="errors.has('password')">
                    <ion-text color="danger">
                        <small>{{errors.has('password') ? errors.get('password') : ''}} </small>
                    </ion-text>
                </div>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Confirmar contraseña</ion-label>
                    <ion-input type="password" formControlName="password_confirmation"></ion-input>
                </ion-item>
                <div *ngIf="errors.has('password_confirmation')">
                    <ion-text color="danger">
                        <small>{{errors.has('password_confirmation') ? errors.get('password_confirmation') : ''}} </small>
                    </ion-text>
                </div>
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <ion-button color="light" expand="block" [routerLink]="['/managers']">Cancelar</ion-button>
                        </ion-col>
                        <ion-col size="6">
                            <ion-button color="vsecundary" [disabled]="!registrationManager.valid" type="submit" expand="block">
                                Submit
                                <ion-icon slot="end" name="create">
                                </ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-card-content>
    </ion-card>

</ion-content>
