<ion-header>
    <ion-toolbar color="vprimary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="proyecto"></ion-back-button>
        </ion-buttons>
        <ion-title>Administradores</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="presentModalFindManager()">
                <ion-icon name="person-add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-detail #appDetail></app-detail>
    <ion-list>
        <ion-list-header>
            <ion-label>Administradores</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let manager of managers;">
            <ion-label class="ion-text-wrap">
                <ion-text color="vprimary">
                    <h3>{{manager.name}} - {{manager.email}}</h3>
                </ion-text>
                <p><b>Rol:</b> {{ roleEsp(manager.role)}}</p>
                <p><b>Asignaciones:</b> {{ manager.pago_proyecto}} Bs.</p>
                <div>
                    <ion-button size="small" color="vsecundary" [routerLink]="['/report-manager-projectreport/'+manager.id+'/'+projectId]">
                        <ion-icon name="newspaper-outline"></ion-icon>
                    </ion-button>
                    <ion-button size="small" color="vsecundary" (click)="presentModalAsignar(manager.id)">
                        <ion-icon name="cash-outline"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="manager.pago_proyecto == 0" size="small" color="danger" (click)="presentAlertConfirmManager(manager.id, manager.name)">
                        <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                </div>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
