<ion-header>
    <ion-toolbar color="vsecundary">
        <ion-title>Buscar Persona</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon name="close-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Searchbar with cancel button never shown -->
    <ion-searchbar showCancelButton="" (ionInput)="filterList($event)"></ion-searchbar>


    <ion-list lines="none">
        <ion-item *ngFor="let persona of personas" (click)="sendPerson(persona.id)">
<!--        <ion-item *ngFor="let persona of personas">-->
            <ion-label class="ion-text-wrap">
                <ion-text color="primary">
                    <h3>{{ persona.nombres + ' ' + persona.apellido_paterno}}</h3>
                </ion-text>
                <p>{{ persona.email }} -- {{ persona.direccion }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
