<ion-header>
    <ion-toolbar color="vsecundary">
        <ion-title>Buscar Supervisor</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon name="close-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar showCancelButton="" (ionInput)="filterList($event)"></ion-searchbar>

    <ion-list lines="none">
        <ion-item *ngFor="let manager of managers" (click)="sendManager(manager.id)">
            <!--        <ion-item *ngFor="let persona of personas">-->
            <ion-label class="ion-text-wrap">
                <ion-text color="primary">
                    <h3>{{ manager.name +  ' - ' + roleEsp(manager.role) }}</h3>
                </ion-text>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
