<ion-header [translucent]="true">
  <ion-toolbar color="vprimary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Personas</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/person']">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let persona of personas;">
      <ion-label>
        <div>
          <ion-text color="vprimary">
            <h4>{{persona.nombreCompleto()}}</h4>
          </ion-text>
          <p><b>Email: </b>{{persona.email}}</p>
          <p><b> Teléfono: </b>{{persona.telefono}}</p>
          <p><b>Dirección: </b>{{persona.direccion}}</p>
        </div>
      </ion-label>
      <div slot="end">
        <ion-button color="vsecundary" routerLink="/person-edit/{{persona.id}}">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
