<ion-card>
    <ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-text>
                        <h2 style="color: black;">{{project.nombre}}</h2>
                    </ion-text>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <h4><b>Presupuesto:</b></h4>
                    <p style="text-align: right;">{{project.presupuesto}}</p>
                </ion-col>
                <ion-col size="6">
                    <h4><b>Total a cuenta:</b></h4>
                    <p style="text-align: right;">0</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <h4><b>Asignado:</b></h4>
                    <p style="text-align: right;">0</p>
                </ion-col>
                <ion-col size="6">
                    <h4><b>Gastos:</b></h4>
                    <p style="text-align: right;">{{gastos}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
