<ion-header>
</ion-header>

<ion-content padding="true">
    <img src="/assets/la-seguridad.png" alt="Paris" class="center-img">
    <!--  <ion-img src="/assets/la-seguridad-90.png" width="90"></ion-img>-->
    <ion-row class="ion-justify-content-center">
        <ion-col size-sm="12" size-lg="5">
            <div class="ion-padding login-card">
                <ion-card>
                    <ion-card-header color="vsecundary">
                        <ion-card-title>Iniciar sessión</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <form (ngSubmit)="onClickSubmit()" padding-right [formGroup]="loginForm">
                            <ion-item lines="full">
                                <ion-label position="floating">Correo electrónico</ion-label>
                                <ion-input type="text" formControlName="username" [(ngModel)]="email" required></ion-input>
                            </ion-item>

                            <ion-item lines="full">
                                <ion-label position="floating">Contraseña</ion-label>
                                <ion-input type="password" formControlName="password" [(ngModel)]="password" ></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label>Recuerdame</ion-label>
                                <ion-checkbox color="vsecundary" checked="false" formControlName="remember" [(ngModel)]="remember"></ion-checkbox>
                            </ion-item>
                            <ion-row>
                                <ion-col>
                                    <ion-button type="submit" color="vprimary" expand="block" [disabled]="!loginForm.valid">Enviar</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12">
                                    <ion-label color="danger">
                                        {{errorMessage}}
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </form>
                    </ion-card-content>
                </ion-card>
            </div>
        </ion-col>
    </ion-row>
</ion-content>
