<ion-header>
    <ion-toolbar color="vprimary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Reporte Administrador</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-text>
                <dl>
                    <dt>Administrador:</dt>
                    <dd>{{ manager.name + ' - ' + manager.email }}</dd>
                    <dt>Proyecto:</dt>
                    <dd>{{ proyecto.nombre }}</dd>
                    <dt>Total asignado:</dt>
                    <dd>{{ totalAsignado }}</dd>
                </dl>
            </ion-text>
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="floating">Fecha Inicio</ion-label>
                            <ion-datetime displayFormat="YYYY-MM-DD" value="{{ searchFechaIni}}" [(ngModel)]="searchFechaIni" (ionChange)="changeFechaIni()"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="floating">Fecha Fin</ion-label>
                            <ion-datetime displayFormat="YYYY-MM-DD" value="{{ searchFechaFin }}" [(ngModel)]="searchFechaFin" (ionChange)="changeFechaFin()"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-content>
    </ion-card>
    <ion-list>
        <ion-list-header lines="inset">
            <ion-label>Asignaciónes</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let asignacion of asignacionPMDto">
            <ion-label>
                <h3><b>{{ asignacion.fecha }}</b></h3>
                <h4><b>Monto:</b> {{asignacion.monto}} Bs.</h4>
                <p><b>Descripción:</b> {{ asignacion.descripcion }}</p>
            </ion-label>
            <ion-button color="danger" (click)="modalConfirm(asignacion.id, asignacion.fecha)"><ion-icon name="trash-outline"></ion-icon></ion-button>
            <ion-button color="vsecundary" routerLink="/asignacion-imagenes/{{asignacion.id}}"><ion-icon name="image-outline"></ion-icon></ion-button>
        </ion-item>
    </ion-list>
    <ion-text color="vsecundary" align="right" style="padding-left: 10px;">
        <h5>Total: <b>{{total}} Bs.</b></h5>
    </ion-text>
</ion-content>
