<ion-header>
    <ion-toolbar color="vprimary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="proyecto"></ion-back-button>
        </ion-buttons>
        <ion-title>{{project.nombre}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        <h4><b>Total asignado:</b></h4>
                        <p style="text-align: right;">{{ totalAsignado}} Bs</p>
                    </ion-col>
                    <ion-col size="6">
                        <h4><b>Gastos:</b></h4>
                        <p style="text-align: right;">{{gastos}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6">
                        <h4><b>F. Inicio:</b></h4>
                        <p style="text-align: right;">{{project.fechaInicio | date:'dd-MM-y'}}</p>
                    </ion-col>
                    <ion-col size="6">
                        <h4><b>F. Fin:</b></h4>
                        <p style="text-align: right;">{{project.fechaFin | date:'dd-MM-y'}}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-list>
        <ion-item *ngFor="let persona of personas;">
            <ion-label class="ion-text-wrap">
                <ion-text color="vprimary">
                    <h3>{{persona.nombres}} {{persona.apellido_paterno}}</h3>
                </ion-text>
                <p>Pagos: <b>{{ persona.pago_proyecto}} Bs.</b></p>
                <div>
                    <ion-button size="small" color="vsecundary" [routerLink]="['/report/'+persona.id+'/'+projectId]">
                        <ion-icon name="newspaper-outline"></ion-icon>
                    </ion-button>
                    <ion-button size="small" color="vsecundary" (click)="presentModal(persona.id)">
                        <ion-icon name="cash-outline"></ion-icon>
                    </ion-button>
<!--                    <ion-button size="small" color="vsecundary" (click)="presentModalMaterial(persona.id)">-->
<!--                        <ion-icon name="build-outline"></ion-icon>-->
<!--                    </ion-button>-->
                </div>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
