<ion-header [translucent]="true">
    <ion-toolbar color="vprimary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Proyectos</ion-title>
        <ion-buttons slot="end" *ngIf="isAdmin">
            <ion-button [routerLink]="['/crear-proyecto']">
                <ion-icon name="medkit-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- List Header with Button -->
    <ion-list-header>
        <ion-label>Lista de proyectos</ion-label>
    </ion-list-header>


    <!-- List of Input Items -->
    <ion-list>
        <ion-item *ngFor="let proyecto of proyectos;">
            <ion-grid>
                <ion-row>
                    <ion-col size="12">
                        <ion-text color="vprimary">
                            {{proyecto.nombre}}
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="isAdmin">
                    <ion-col size="6">
                        <dl class="dl-viraca">
                            <dt>Presupuesto:</dt>
                            <dd>{{proyecto.presupuesto}} Bs.</dd>
                            <dt>Asignado:</dt>
                            <dd>{{proyecto.asignado}}</dd>
                            <dt>Fecha Inicio:</dt>
                            <dd>{{proyecto.fechaInicio | date: 'y-MM-dd'}}</dd>
                        </dl>
                    </ion-col>
                    <ion-col size="6">
                        <dl class="dl-viraca">
                            <dt>Total a cuenta:</dt>
                            <dd>{{ proyecto.acuenta}} Bs.</dd>
                            <dt>Gastos</dt>
                            <dd>{{proyecto.gastos}} Bs</dd>
                            <dt>Fecha Fin:</dt>
                            <dd>{{proyecto.fechaFin | date: 'y-MM-dd'}}</dd>
                        </dl>
                        <p></p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <div>
                            <ion-button color="vsecundary" routerLink="/proyecto-acuenta/{{proyecto.id}}" *ngIf="isAdmin">
                                <ion-icon name="eye-outline"></ion-icon>
                            </ion-button>
                            <ion-button color="vsecundary" routerLink="/proyecto-managers/{{proyecto.id}}" *ngIf="isAdmin">
                                <fa-icon [icon]="faUsersCog"></fa-icon>
                            </ion-button>
                            <ion-button color="vsecundary" routerLink="/proyecto-manager/{{proyecto.id}}" *ngIf="!isAdmin">
                                <ion-icon name="eye-outline"></ion-icon>
                            </ion-button>
                            <ion-button color="vsecundary" routerLink="/view-proyecto/{{proyecto.id}}" *ngIf="isAdmin">
                                <fa-icon [icon]="faUsers"></fa-icon>
                            </ion-button>
                            <ion-button color="vsecundary" routerLink="/view-proyecto/{{proyecto.id}}" *ngIf="isAdmin">
                                <fa-icon [icon]="faToolbox"></fa-icon>
                            </ion-button>
                            <ion-button color="vsecundary" routerLink="/view-proyecto/{{proyecto.id}}" *ngIf="isAdmin">
                                <fa-icon [icon]="faShoppingBasket"></fa-icon>
                            </ion-button>
                            <ion-button color="danger" (click)="openConfirmDelete(proyecto)" *ngIf="isAdmin">
                                <ion-icon name="trash-outline"></ion-icon>
                            </ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>




</ion-content>
