<ion-header>
  <ion-toolbar color="vprimary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Administradores de proyectos</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/manager-create']">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let manager of managers;">
      <ion-label>
        <div>
          <ion-text color="vprimary">
            <h4>{{manager.name}}</h4>
          </ion-text>
          <p><b>Rol: </b>{{roleEsp(manager.role)}}</p>
          <p><b>Email: </b>{{manager.email}}</p>
        </div>
      </ion-label>
      <div slot="end">
        <ion-button color="{{(manager.lock)? 'vtertiary' : 'vprimary'}}" (click)="openConfirmLock(manager)">
          <ion-icon name="{{(manager.lock)? 'cloud-offline-outline' : 'cloud-done-outline'}}"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
