<ion-header>
    <ion-toolbar color="vprimary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Imagenes de asignaciones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="imagenes?.length > 0">
        <ion-row *ngFor="let img of imagenes">
            <ion-col size="12">
                <img src="{{ rootUrl+img.url }}">
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card *ngIf="imagenes?.length <= 0">
        <ion-row>
            <ion-col size="12">
                <ion-text>
                    Sin imagenes.
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>
