<ion-header [translucent]="true">
    <ion-toolbar color="vprimary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="proyecto"></ion-back-button>
        </ion-buttons>
        <ion-title>Detalle proyecto</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="presentAcuentaProyectoModal(proyecto.id)">
                <ion-icon name="cash-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text>
                            <h2>{{ proyecto.nombre }}</h2>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6">
                        <ion-text>
                            <dl>
                                <dt>Presupuesto</dt>
                                <dd>{{proyecto.presupuesto}} Bs.</dd>
                                <dt>Total asignado</dt>
                                <dd>{{totalAsignado}} Bs.</dd>
                                <dt>Fecha inicio</dt>
                                <dd>{{proyecto.fechaInicio}}</dd>
                            </dl>
                        </ion-text>
                    </ion-col>
                    <ion-col size="6">
                        <ion-text>
                            <dl>
                                <dt>Total acuenta</dt>
                                <dd>{{totalAcuenta}} Bs.</dd>
                                <dt>Total gastos</dt>
                                <dd>{{totalPagos}} Bs.</dd>
                                <dt>Fecha Fin</dt>
                                <dd>{{proyecto.fechaFin}}</dd>
                            </dl>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-button color="secondary">Reporte Asignaciones</ion-button>
            <ion-button color="tertiary">Reporte Pagos</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
