<ion-header>
    <ion-toolbar color="vprimary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Crear Persona</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-content>
            <form [formGroup]="registrationPerson" (ngSubmit)="submit()">
                <ion-item class="item-viraca">
                    <ion-label position="stacked">CI</ion-label>
                    <ion-input type="number" formControlName="ci" ></ion-input>
                </ion-item>
                <div *ngIf="errors.has('ci')">
                    <ion-text color="danger">
                        <small>{{errors.has('ci') ? errors.get('ci') : ''}} </small>
                    </ion-text>
                </div>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Nombres <span style="color: red;">*</span></ion-label>
                    <ion-input type="text" formControlName="nombres" class="input-uppercase"></ion-input>
                </ion-item>
                <div *ngIf="errors.has('nombres')">
                    <ion-text color="danger">
                    <small>{{errors.has('nombres') ? errors.get('nombres') : ''}} </small>
                    </ion-text>
                </div>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Apellido Paterno <span style="color: red;">*</span></ion-label>
                    <ion-input type="text" formControlName="apellido_paterno" class="input-uppercase"></ion-input>
                </ion-item>
                <div *ngIf="errors.has('apellido_paterno')">
                    <ion-text color="danger">
                        <small class="error-message">{{errors.has('apellido_paterno') ? errors.get('apellido_paterno') : ''}} </small>
                    </ion-text>
                </div>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Apellido Materno</ion-label>
                    <ion-input type="text" formControlName="apellido_materno" class="input-uppercase"></ion-input>
                </ion-item>
                <div *ngIf="errors.has('apellido_materno')">
                    <ion-text color="danger">
                        <small class="error-message">{{errors.has('apellido_materno') ? errors.get('apellido_materno') : ''}} </small>
                    </ion-text>
                </div>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Correo Electrónico</ion-label>
                    <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
                <div *ngIf="errors.has('email')">
                    <ion-text color="danger">
                        <small class="error-message">{{errors.has('email') ? errors.get('email') : ''}} </small>
                    </ion-text>
                </div>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Tel / Cel</ion-label>
                    <ion-input type="text" formControlName="telefono"></ion-input>
                </ion-item>
                <div *ngIf="errors.has('telefono')">
                    <ion-text color="danger">
                        <small class="error-message">{{errors.has('telefono') ? errors.get('telefono') : ''}} </small>
                    </ion-text>
                </div>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Dirección</ion-label>
                    <ion-textarea formControlName="direccion"></ion-textarea>
                </ion-item>


                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <ion-button color="light" expand="block" [routerLink]="['/persons']">Cancelar</ion-button>
                        </ion-col>
                        <ion-col size="6">
                            <ion-button color="vsecundary" [disabled]="!registrationPerson.valid" type="submit" expand="block">
                                Submit
                                <ion-icon slot="end" name="create">
                                </ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
