<ion-header>
  <ion-toolbar color="vprimary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Imagenes de Materiales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row *ngFor="let img of imagenes">
      <ion-col size="12">
        <img src="{{ rootUrl+img.url }}" >
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
