<ion-header>
    <ion-toolbar color="vprimary">
        <ion-title>Pago sobre proyecto</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="takePhotos()">
                <ion-icon name="camera-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
        <ion-card>
            <ion-card-header>
                <dl class="dl-viraca">
                    <dt>Proyecto:</dt>
                    <dd>{{project.nombre}}</dd>
                </dl>
                <hr>
            </ion-card-header>
            <ion-card-content>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Fecha<span style="color: red;">*</span></ion-label>
                    <ion-datetime displayFormat="YYYY-MM-DD" formControlName="fecha"></ion-datetime>
                </ion-item>
                <div *ngFor="let error of errorMessages.fecha">
                    <ng-container *ngIf="fecha.hasError(error.type) && (fecha.dirty || fecha.touched)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Monto <span style="color: red;">*</span></ion-label>
                    <ion-input type="number" formControlName="monto"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.monto">
                    <ng-container *ngIf="monto.hasError(error.type) && (monto.dirty || monto.touched)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Descripción</ion-label>
                    <ion-textarea formControlName="descripcion"></ion-textarea>
                </ion-item>
                <br>
                <ion-list *ngFor="let photo of photos">
                    <ion-item>
                        <img src={{photo}} style="width: 200px; height: 150px;">
                    </ion-item>
                </ion-list>
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <ion-button color="light" expand="block" (click)="dismiss()">Cancelar</ion-button>
                        </ion-col>
                        <ion-col size="6">
                            <ion-button color="vsecundary" expand="block" [disabled]="!registrationForm.valid" type="submit">
                                Registrar
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </form>
</ion-content>
