<ion-header>
    <ion-toolbar color="vprimary">
        <ion-title>Entregar Material</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="takePhotos()">
                <ion-icon name="camera-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
        <ion-card>
            <ion-card-header>
                <dl class="dl-viraca">
                    <dt>Persona:</dt>
                    <dd>{{ persona.nombres + ' ' + persona.apellido_paterno + ' ' + persona.apellido_materno}}</dd>
                    <dt>Proyecto:</dt>
                    <dd>{{project.nombre}}</dd>
                </dl>
                <hr>
            </ion-card-header>
            <ion-card-content>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Fecha <span style="color: red;">*</span></ion-label>
                    <ion-datetime displayFormat="YYYY-MM-DD" formControlName="fecha"></ion-datetime>
                </ion-item>
                <div *ngIf="errors.has('fecha')">
                    <ion-text color="danger">
                        <small>{{errors.has('fecha') ? errors.get('fecha') : ''}} </small>
                    </ion-text>
                </div>
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <ion-item class="item-viraca">
                                <ion-label position="stacked">Cantidad <span style="color: red;">*</span></ion-label>
                                <ion-input type="number" formControlName="cantidad"></ion-input>
                            </ion-item>
                            <div *ngIf="errors.has('cantidad')">
                                <ion-text color="danger">
                                    <small>{{errors.has('cantidad') ? errors.get('cantidad') : ''}} </small>
                                </ion-text>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <ion-item class="item-viraca">
                                <ion-label position="stacked">Unidad <span style="color: red;">*</span></ion-label>
                                <ion-input type="text" formControlName="unidad"></ion-input>
                            </ion-item>
                            <div *ngIf="errors.has('unidad')">
                                <ion-text color="danger">
                                    <small>{{errors.has('unidad') ? errors.get('unidad') : ''}} </small>
                                </ion-text>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-item class="item-viraca">
                    <ion-label position="stacked">Descripcion</ion-label>
                    <ion-textarea formControlName="descripcion"></ion-textarea>
                </ion-item>
                <div *ngIf="errors.has('descripcion')">
                    <ion-text color="danger">
                        <small>{{errors.has('descripcion') ? errors.get('descripcion') : ''}} </small>
                    </ion-text>
                </div>
                <br>
                <ion-list *ngFor="let photo of photos">
                    <ion-item>
                        <img src={{photo}} style="width: 200px; height: 150px;">
                    </ion-item>
                </ion-list>
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <ion-button color="light" expand="block" (click)="dismiss()">Cancelar</ion-button>
                        </ion-col>
                        <ion-col size="6">
                            <ion-button color="vsecundary" expand="block" [disabled]="!registrationForm.valid" type="submit">
                                Registrar
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </form>
</ion-content>
