<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/person']">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Personas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Personas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- Sliding item with text options on both sides -->
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h2>Juan Perez</h2>
          <p>Enero: <b>Pagos:</b> <span>450 Bs.</span></p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option><ion-icon [routerLink]="['/report/20']" size="large" name="newspaper-outline"></ion-icon></ion-item-option>
        <ion-item-option color="tertiary" (click)="presentModal(20)"><ion-icon size="large" name="cash-outline"></ion-icon></ion-item-option>
        <ion-item-option color="success" (click)="presentModalMaterial(20)"><ion-icon size="large" name="build-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h2>Carlos Mendez</h2>
          <p>Enero: <b>Pagos:</b> <span>780 Bs.</span></p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option><ion-icon [routerLink]="['/report/20']" size="large" name="newspaper-outline"></ion-icon></ion-item-option>
        <ion-item-option color="tertiary" (click)="presentModal(20)"><ion-icon size="large" name="cash-outline"></ion-icon></ion-item-option>
        <ion-item-option color="success" (click)="presentModalMaterial(20)"><ion-icon size="large" name="build-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h2>Heidy Jimenez</h2>
          <p>Enero: <b>Pagos:</b> <span>1950 Bs.</span></p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option><ion-icon [routerLink]="['/report/20']" size="large" name="newspaper-outline"></ion-icon></ion-item-option>
        <ion-item-option color="tertiary" (click)="presentModal(20)"><ion-icon size="large" name="cash-outline"></ion-icon></ion-item-option>
        <ion-item-option color="success" (click)="presentModalMaterial(20)"><ion-icon size="large" name="build-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h2>Maria Nuñez</h2>
          <p>Enero: <b>Pagos:</b> <span>0 Bs.</span></p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option><ion-icon [routerLink]="['/report/20']" size="large" name="newspaper-outline"></ion-icon></ion-item-option>
        <ion-item-option color="tertiary" (click)="presentModal(20)"><ion-icon size="large" name="cash-outline"></ion-icon></ion-item-option>
        <ion-item-option color="success" (click)="presentModalMaterial(20)"><ion-icon size="large" name="build-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
